/* PRESSETS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave&display=swap');

:root{
    --bg-1: #f4f6f2;
    --bg-2: #e9e3d6;
    --bg-3: #c5c0b5;
    --text: #333;
    --green1: #2e7d32;
    --green2: #1f3d2e;
    --orange: #c97a3d;

    --sedwick: "Sedgwick Ave", cursive;
    --oswald: "Oswald", sans-serif;
    --merriweather: "Merriweather", serif;
    --poppin: 'Poppin', sans-serif;
    --fira-code: "Fira Code", monospace;
}


/* BANNER (index.html) */
.banner{
    width: 100%;
    height: 600px;
    background-image: url(../assets/images/banner_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8%;
    border-bottom: 3px solid transparent;
    border-image: radial-gradient(circle at center bottom, var(--orange) 0%, #3a3a3a 100%) 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 100;
}
.banner::after{
    content: '';
    width: 100%;
    height: 600px;
    background: linear-gradient(180deg, var(--bg-1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

    /* Título do Banner */
    .banner-title{
        text-align: left;
        cursor: default;
        z-index: 50;
    }
    .banner-title h3{
        font-family: var(--fira-code) !important;
        font-weight: bold;
        font-size: 20px;
        color: var(--orange);
        letter-spacing: 2px;
        line-height: 2;
    }
    .banner-title h1{
        font-family: var(--sedwick) !important;
        font-weight: bold;
        font-size: 100px;
        font-optical-sizing: auto;
        text-wrap: wrap;
        letter-spacing: 3px;
    }
    .banner-title h2{
        color: var(--green2);
        font-family: var(--merriweather) !important;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 2;
    }
    .banner-title p{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    /* Botões do Banner */
    .banner-button{
        width: 100%;
        display: flex;
        padding-top: 30px;
        padding-right: 10%;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .banner-button button{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .fa-circle-play{
        font-size: 20px;
        position: absolute;
        left: 10%;
    }

    /* Contador do Banner */
    .banner-timer{
        height: 600px;
        text-align: center;
        z-index: 60;
    }
    .banner-timer img{
        max-height: 300px;
    }
    .banner-timer h2{
        font-weight: 600;
        color: var(--green2);
        line-height: 3;
        letter-spacing: 1.5px;
    }
    .timer-divs{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .timer-divs div{
        width: 100%;
        aspect-ratio: 1 / 1;
        color: black;
        padding: 10%;
        border: 3px solid var(--text);
        border-radius: 10px;
        user-select: none;
    }
    .timer-divs div p{
        font-size: 4em;
        font-family: var(--fira-code) !important;
        font-weight: bold;
    }
    .timer-divs div span{
        font-size: 20px;
        font-family: var(--poppin);
        font-weight: 600;
        letter-spacing: 2px;
    }

    /* Botão circular do Banner */
    .banner-rounded-button{
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        border: 3px solid var(--orange);
        border-radius: 50%;
        background: var(--bg-1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease;
        position: absolute;
        bottom: -5%;
        left: 50%;
        right: 50%;
    }
    .banner-rounded-button:hover{
        transform: scale(1.05);
    }


/* CARDS */
.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
    .attraction-card{
        height: 300px;
        width: 250px;
    }


/* INTRODUÇÃO (evento.html) */
.introduction{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.introduction div:nth-child(1){
    padding: 0 10%;
}
    .introduction h1{
        max-width: max-content;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: 1.5px;
        border-bottom: 2px solid transparent;
        border-image: radial-gradient(circle at center bottom, var(--orange) 0%, #c97a3d3a 100%) 1;
        margin-bottom: 20px;
    }
    .introduction h3{
        color: var(--green1);
        font-family: var(--fira-code) !important;
        font-weight: bold;
    }
    .introduction p{
        font-weight: 500;
        font-size: 1em;
        line-height: 1.8;
        text-align: justify;
    }

    /* Container da imagem da introdução */
    .container-image{
        background-image: url('../assets/images/event-background.jfif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 85%;
        height: 400px;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-right: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    }


/* PROGRAMAÇÃO */
.schedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

    /* Cronograma */
    .schedule div{
        border: none;
        border-radius: 20px;
        padding: 20px 10%;
        background: var(--bg-2);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cronogram{
        border: 2px solid var(--bg-3);
        border-collapse: collapse;
        cursor: default;
    }
    .cronogram tr{
        height: 30px;
    }
    .cronogram td:nth-child(1){
        background: var(--bg-3);
        border: 2px solid var(--bg-2);
        font-weight: bold;
    }
    .cronogram td{
        border: 1px solid var(--bg-3);
        padding: 0 10px;
        font-size: 1em;
    }

/*Atrações*/
.attractions{
    font-family: var(--poppin);
}
    .attractions ul{
        list-style-type: "✔️   ";
        line-height: 2;
    }
    .attractions li{
        transition: color .3s ease;
        cursor: default;
    }
    .attractions li:hover{
        color: var(--green1);
    }


/* EDIÇÕES ANTERIORES */
.prev-edictions{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    background: var(--bg-2);
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}   
    .prev-edictions th{
        color: var(--green2);
        font-size: 1.5em;
        line-height: 2.5;
        padding-left: 20px;
    }
    .prev-edictions td{
        line-height: 2;
        padding-left: 20px;
    }
    .prev-edictions td:nth-child(1){
        font-weight: bold;
    }


/* CONTATOS (contatos.html) */
.contact{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
    /* Mídias */
    .midias ul{
        list-style-type: none;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .midias li{
        cursor: pointer;
        display: inherit;
        align-items: center;
        gap: 10px;
    }
    .midias div p{
        font-size: 1em;
        font-family: var(--oswald) !important;
        font-weight: bold;
        color: var(--green2);
    }
    .midias div a{
        text-decoration: none;
        font-family: var(--poppin);
        color: var(--text);
        transition: color .3s ease;
    }
    .midias div a:hover{
        color: var(--green1);
    }
    .midia-icon{
        font-size: 2em;
        color: var(--green2);
    }

    /* Mensagens */
    .messages{
        padding: 10px;
        background: var(--bg-2);
        border: 1px solid var(--bg-3);
        border-radius: 20px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
    }
    .messages h1{
        font-size: 1.7em;
        align-self: center;
    }
    .messages form{
        display: inherit;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .messages button{
        height: 40px;
        width: 30%;
        position: relative;
    }
    .messages button .fa-paper-plane{
        position: absolute;
        right: 10%;
    }

/* COMPRA DOS INGRESSOS (ingressos.html) */
.ticket-area{
    width: 100%;
    padding: 0 5%;
}
    .ticket-area h1{
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 3em;
    }
    .ticket-area h2{
        color: var(--orange);
        font-size: 1.5em;
    }
    .ticket-area p{
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }

/* Área de compras */
.buying-area{
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
.buying-area form{
    display: inherit;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}
    .buying-area form div{
        width: 100%;
        min-height: 90px;
        padding: 0 10px 0 5px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: inherit;
        align-items: center;
        grid-template-columns: 2fr 1fr;
    }
    .activated-div{
        border: 1px solid var(--green2) !important;
    }
    .buying-area form div div{
        display: flex;
        border: none;
    }
    .buying-area div strong{
        max-height: fit-content;
        font-family: var(--oswald);
        font-size: 1.5em;
        font-weight: 600;
        color: var(--green2);
    }
    .left-side{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
        .left-icon{
            max-width: 60px;
            font-size: 3em;
            color: var(--green2);
        }
        .left-text{
            display: inherit;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
        .left-text strong{
            width: 100%;
        }
        .left-text span{
            width: 100%;
            font-family: var(--poppin);
            font-size: 1em;
            text-wrap: wrap;
        }
    .right-side{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .radio-button{
        height: 20px;
        width: 20px;
        padding: 2px;
        aspect-ratio: 1 / 1;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .radio-button.activated-button{
        border: 2px solid var(--green2) !important;
    }
        .radio-button span{
            content: '';
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            background: var(--green2);
            border: none;
            border-radius: 50%;
            display: none;
        }
        span.activated-radio{
            display: inline-block;
        }
    
    /* Contagem */
    #ticketsQuantity{
        padding: 0 20px 0 10px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
        #ticketsQuantity div:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
        .visualizer{
            font-family: var(--fira-code);
            display: flex;
            align-items: center;
            justify-content: end !important;
            gap: 0;
        }
        .visualizer button, .visualizer div{
            width: 30px;
            max-width: 30px;
            height: 30px;
            max-height: 30px;
            text-align: center;
        }
        .visualizer button{
            background: var(--green1);
            color: white;
            font-size: 1em;
            font-weight: bold;
            border: 1px solid var(--green2);
            cursor: pointer;
            transition: background .3s ease;
        }
            .visualizer button:nth-child(1){
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .visualizer button:nth-child(3){
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .visualizer button:hover{
                background: var(--green2)
            }
        .visor{
            width: 100%;
            padding: 0 !important;
            border: 1px solid var(--green2);
        }
        .visor p{
            max-height: 30px;
            width: 100%;
            text-align: center;
            font-size: 1.2em;
            border-top: 1px solid var(--green2);
            border-bottom: 1px solid var(--green2);
        }
    
/* Nota fiscal */
.fiscal-note{
    background: var(--bg-2);
    padding: 30px 5%;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}
    .fiscal-note h1{
        font-size: 2em;
        text-align: center;
    }
    .fiscal-note div{
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .fiscal-note div div{
        display: block;
    }
    .fiscal-note div img{
        height: 100px;
        width: 100px;
    }
    .fiscal-note div p{
        font-family: var(--sedwick);
        font-weight: bold;
        font-size: 1.5em;
    }
    .fiscal-note div span{
        font-family: var(--poppin);
        color: var(--green1);
        font-weight: bold;
        letter-spacing: 2px;
    }
    .fiscal-note hr{
        box-shadow: none;
    }
    .note-item p{
        font-family: var(--poppin) !important;
        font-size: 1em;
    }